@{
    ViewData["Title"] = "SSO Callback";
    Layout = "_Layout-login-wso2is";
}

<div class="text-center">
    <p>@Html.Raw(@ViewBag.Error)</p>
</div>
@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            var token = '@Html.Raw(@ViewBag.TokenUser)';
            if (token)
                setTimeout(
                    function () {
                        debugger;
                        var objRoot = new Object();
                        objRoot.auth = '{\"loading\":false,\"data\":@Html.Raw(@ViewBag.TokenUser) }';
                        objRoot._persist = '{\"version\":-1,\"rehydrated\":true}';
                        localStorage.setItem("persist:root", JSON.stringify(objRoot))
                        window.location.href = '@Html.Raw(@ViewBag.UrlRedirect)';
                    }, 2000);
            else
                alert("Tài khoản chưa được khai báo trên hệ thống Dịch vụ công, vui lòng liên hệ quản trị!");
        });
    </script>
}